[Unit]
Description=Mount USB drive %i
After=systemd-udevd.service
RequiresMountsFor=/media

[Service]
Type=oneshot
EnvironmentFile=/etc/usb-mount.env
ExecStart=/usr/local/bin/usb-mount.sh /dev/%i
